
<!-- A Propos -->
            
              <div id=" APropos">
                  <div class="container">
                    <div class="row">
                      <h3>Un peu de lecture ?</h3>
                        
             <div class="section">
       </div>

</div>
</div>
</div>




           <div class="container Propos">
                <div class="row">
                <div class="col-lg-6">
               
        
                
        <br/>
          <div class="col-md-4 wow fadeInRight animated ">
                 
                    <strong class="about_us_p">Je m’appelle Virginie-Medina, j'ai 37 ans et je suis en reconversion  .</p>
                </div>
                <div class="col-md-4  wow fadeInRight animated">
                    <p class="about_us_p"> développeuse junior soit back-end (Ruby, Ruby on rails), ou front-end,Je viens de finir la formation simplon.co , école du numérique en FOAD,J'ai aussi suivis les cours openclassroom  .</strong>
                </div>
            </div>
        </div>
    </p>
    </div>
 
   
    </div>

   </section>


<hr></hr>

     <div class="container">
            <div class="row">
              <h3>mes progressions!</h3>


                <div class="col-md-4  wow fadeInLeft animated">
                    <div class="single_progress_bar">
                        <h5>HTML/CSS</h5>
            <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="60" style="width: 60%">
            <span class="sr-only"></span>
        </div>
          </div>
            <br/>
              <h5>BootStrap</h5>
              <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50" style="width: 50%">
              <span class="sr-only"></span>
              </div>
                </div>
                  <br/>
              <h5>JavaScript</h5>
                <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width: 10%">
                <span class="sr-only"></span>
            </div>
        </div>
      <br/>
            <h5>Wordpress</h5>
            <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="55" style="width: 55%">
            <span class="sr-only"></span>
          </div>
      </div>
    <br/>
        <h5>Ruby et Ruby on rails </h5>
        <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="55" style="width: 55%">
        <span class="sr-only"></span>
           </div>
        </div>
     </div>
  </div>


                                             </div>
                                            </div>
                                         </div>
                                       </div>
                                     </div>
                                   </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
               
