 <section class="services" id="SERVICE">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="1s">
                        
                        <h2>Madevise</h2>
                        <strong>et d'en apprendre tous les jours,pour m'amélioré.</strong>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="2s">
                        
                        <h2>passion</h2>
                        <strong>dans le web ainsi que toutes les nouvelles technologie</strong>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="3s">
                       
                        <h2>Loisirs</h2>
                        <strong>Lecture, informatique (programation).</strong>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="4s">
                       
                        <h2>Formation</h2>
                        <strong>formation simplon.co et suivi de cour openclassroom (école du numérique).</strong>
                    </div>
                </div>
            </div>
        </div>
  </section>

        <!-- Compétences -->
                  <div id="Competences" class="text-center">
                            <div class="container">
                 <div class="section-title center">
                     <h2>Un aperçu de mes compétences</h2>
                    <div class="line">

             </div>
         </div>
            <div class="space"></div>
           <div class="row">
           <div class="col-md-3 col-sm-6 service">

          <h4>Mes compétences.</h4>
          <strong>html5.</strong>
          <strong>css3.</strong>
          <strong>Bootstrap.</strong>
          <strong>javascript.</strong>
          <strong>ruby.</strong>
          <strong>ruby on rails.</strong>
  </div>
     <div class="col-md-3 col-sm-6 service">

    <h4>Certificat</h4>
    <li><a href="http://openclassrooms.com/course-certificates/77280543"> comprendre le web</a></li>
           <li><a href="http://openclassrooms.com/course-certificates/19434168"> Apprenez a creer votre site web avec HTML5 et CSS3</a></li>
           <li><a href="http://openclassrooms.com/course-certificates/55593109">Prenez en main Bootstrap</a></li>
           <li> <a href="http://openclassrooms.com/course-certificates/96526761"> Apprenez a naviguer en securite sur Internet</a></li>
           <li><a href="http://openclassrooms.com/course-certificates/91738989"> Concevez votre site web avec PHP et MySQL</a></li>
           <li><a href="https://openclassrooms.com/course-certificates/48045678">Gerer son code avec Git et GitHub</a></p>
           <li><a href="https://openclassrooms.com/course-certificates/13307682">Lancez-vous dans la programmation avec Ruby</a></li>
           <li><a href="https://openclassrooms.com/learning-path-certificates/2425368676 ">Integrateur Web</a></li>
   </div>
   <div class="col-md-3 col-sm-6 service">

       <h4>Mes badges code academy</h4>
      <li> <a href="https://www.codecademy.com/fr/users/teraPlayer35995/achievements">mes badges</a></li>
      <li><a href="http://github.com/virginie33">GITHUB</a></li>

 </div>
      <div class="col-md-3 col-sm-6 service">

     <h4>Mes sites en ligne</h4>
                 <li><a href="http://couleursvocales.comlu.com/  ">Couleurs vocales </a></li>
                 <li><a href="http://virginie33.github.io/defis-site">Défis site </a></li>
                  <li><a href="http://virginie33.github.io/cvvivi">CV</a></li>

</div>
          </div>
         </div>
        </div>
